beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pyperclip==1.7.0
requests==2.22.0
Send2Trash==1.5.0
soupsieve==1.9.4
SQLAlchemy==1.3.13
urllib3==1.26.5
virtualenv==16.7.9
Werkzeug==1.0.0
WTForms==2.2.1
